.App {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Arial;
  text-align: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  color:cornflowerblue ;
  
  

}

input {
  width: 300px;
  height: 25px;
  font-size: 15px;
  padding-left: 10px;
  margin: 5px;
  color:rgb(121, 16, 16);
  

}

  


 button {
  width: 100px;
  height: 30px;
  margin-top: 25px;
} 

 button:hover {
  cursor: pointer;
}

.cars {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}


.car{
  width: 1000px;
  height: auto;
  border: 1px solid rgb(121, 16, 16);
  margin: 1px;
  display: flex;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
}

.car h3 {
  margin: 1px;
}  
nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: solid rgb(121, 16, 16);
  color: white;

}
.navlinks{
  width:50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color: white;

}